.planetCard{
    width: auto;
    height: auto;
    overflow: scroll;
    display: flex;
    text-align: center;
}

.planetImg{
    margin: 4px;
    filter: drop-shadow(2px 4px 6px black);
    opacity: 0.4;
}

.planetImg:hover{
    margin: 2em;
    opacity: 1;
    cursor: pointer;
}

.planet-name{
    font-family: Inter;
    font-size: larger;
    text-align: center;

}


.findButton > button{
    border-radius: 8px;
    background-color: yellowgreen;
    border: none;
    color: #FFFFFF;
    font-family: Inter;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    min-width: 10em;
    margin: 20px;
    cursor: pointer;
    margin-bottom: 5em;
}

.selectedplanetImg{
    margin: 2em;
    box-shadow: 1px 2px 19px 8px yellowgreen;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.modalH1{
    max-width: fit-content;
    font-family: Inter;
    color: rgb(5, 34, 34);
}