
.h1Home{
    color: white;
    font-family: Inter;
    font-size: xxx-large;
}


.homeRoot{
    display: flex;
    margin-top: 5em;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.h2Home{
    color: yellowgreen;
}

.homeName{
    color: yellowgreen;
}