.footer{
    background-color: #2c2a2112;
    padding: 1px;
    color: yellowgreen;
    position:fixed;
    bottom:0px;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(30, 36, 19);
    font-family: Inter;
}
