.reset-button{
    border-radius: 20em;
    padding: 20%;
    font-family: Inter;
    color: white;
    cursor: pointer;
    background-color: rgb(56, 58, 54);
    box-shadow: none;
    border: 1px solid teal;
    margin-right: 2em;
}

.reset-button:hover{
}

.reset{
    margin: 12px;
}